body{
    text-align: center;
    height: 100%;
}

.main{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.info-box{
    background-color: var(--secondary-bg-color);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    font-size: 18px;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 700px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    height: 400px;
}

.info-wrapper {
    position: relative;
    margin: 50px 0 45px;
  }

.info-box h2{
    margin-bottom: 1rem;
}

.info-box p{
    padding: 1rem;
    margin-bottom: -1rem;
}

.info-box ul{
    padding: 1rem;
}